body{
    margin: 0%;
    background-image: url(https://cutewallpaper.org/21/dark-wallpaper-2560x1440/Download-wallpaper-2560x1440-plant-leaves-dark-widescreen-.jpg);
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    display: none;
}

h1{
    margin-left: 15px;
}

.head{
    background-color: rgba(0, 0, 0, 0.527);
    color: whitesmoke;
    padding-top: 15px;
    padding-left: 32px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    font-size: 25px;
}

.all{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container1{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 8px 8px 32px 8px  rgba(31, 135, 135, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    min-height: 125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container2{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 8px 8px 32px 8px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    min-height: 125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container3{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 8px 8px 32px 8px rgba(114, 31, 135, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 400px;
    min-height: 125px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#todo{
    background: rgba(255, 255, 255, 0);
    width: 400px;
    min-height: 125px;
    margin-top: 40px;
}

#doing{
    background: rgba(255, 255, 255, 0);
    width: 400px;
    min-height: 125px;
    margin-top: 40px;
}

#done{
    width: 400px;
    min-height: 125px;
    margin-top: 40px;
}

.write{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-input{
    width: 350px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: none;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

#task-input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.boton{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.527);
    color: whitesmoke;
    box-shadow: 8px 8px 32px 4px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.plus{
    background-color: rgba(240, 248, 255, 0);
    border-style: none;
    color: rgb(215, 62, 253);
    margin-left: -5px;
}

.minus{
    background-color: rgba(240, 248, 255, 0);
    border-style: none;
    margin-left: 305px;
    color: rgb(48, 204, 204);
}

.elim{
    background-color: rgba(240, 248, 255, 0);
    border-style: none;
    margin-top: 5px;
    margin-left: 338px;
}

.tasks{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.text{
    margin-left: 25px;
    margin-right: 25px;
}

.fa-solid{
    font-size: 20px;
}